workflows/n8n-gmail-mercantil-payment-verifier.json
{
  "id": "cbd7a163-e53b-4d07-b3dd-b1819e2d1c7d",
  "name": "PoleraFlow Gmail Mercantil Payment Verifier",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "oAuth2",
        "event": "messageReceived",
        "simple": false,
        "filters": {
          "q": "from:bmscsa@bmsc.com.bo newer_than:7d"
        },
        "options": {}
      },
      "id": "85242d95-b770-41f0-8f6a-7d7fb079edc1",
      "name": "Gmail Mercantil Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -940,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = $json;\n\nfunction decodeBase64Url(value) {\n  if (!value) return '';\n  const normalized = String(value).replace(/-/g, '+').replace(/_/g, '/');\n  const padded = normalized.padEnd(normalized.length + ((4 - normalized.length % 4) % 4), '=');\n  return Buffer.from(padded, 'base64').toString('utf8');\n}\n\nfunction collectParts(part, output = []) {\n  if (!part) return output;\n  if (part.mimeType && part.body?.data) {\n    output.push({ mimeType: part.mimeType, text: decodeBase64Url(part.body.data) });\n  }\n  if (Array.isArray(part.parts)) {\n    for (const child of part.parts) collectParts(child, output);\n  }\n  return output;\n}\n\nconst headers = Object.fromEntries((email.payload?.headers || []).map((header) => [String(header.name || '').toLowerCase(), header.value || '']));\nconst parts = collectParts(email.payload);\nconst plain = parts.find((part) => /text\\/plain/i.test(part.mimeType))?.text || '';\nconst html = parts.find((part) => /text\\/html/i.test(part.mimeType))?.text || '';\nconst body = plain || html.replace(/<[^>]*>/g, ' ') || email.textPlain || email.textHtml || email.snippet || '';\nconst from = email.from || headers.from || '';\n\nreturn {\n  json: {\n    id: email.id || email.messageId,\n    messageId: email.id || email.messageId,\n    threadId: email.threadId,\n    from,\n    subject: email.subject || headers.subject || '',\n    snippet: email.snippet || '',\n    body,\n    email_ts: email.internalDate ? new Date(Number(email.internalDate)).toISOString() : new Date().toISOString()\n  }\n};"
      },
      "id": "4cc250c6-5e56-454d-bbe4-8827875c7a4d",
      "name": "Normalize Mercantil Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -680,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.POLERAFLOW_MERCANTIL_PAYMENT_URL || 'https://admin-dhasboard.vercel.app/api/webhooks/gmail/mercantil-payment' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-poleraflow-webhook-secret",
              "value": "={{ $env.POLERAFLOW_WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "7dc3b572-7c3e-4aef-a988-990be0ebc2f0",
      "name": "Verify Payment in PoleraFlow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.matched === true && !!$json.phone && !!$json.replyText }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f70892c4-8401-4bf4-b5bf-6e8499fb19f1",
      "name": "Payment Matched?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const result = $json;\nconst rawPhone = String(result.phone || '').replace(/\\D/g, '');\nconst toPhone = rawPhone ? (rawPhone.startsWith('+') ? rawPhone : `+${rawPhone}`) : '';\nconst fromPhone = String($env.YCLOUD_WHATSAPP_FROM || '+59178096231').trim();\n\nif (!toPhone || !fromPhone || !result.replyText) {\n  return { json: { shouldSend: false, reason: 'missing phone or text', result } };\n}\n\nreturn {\n  json: {\n    shouldSend: true,\n    result,\n    ycloudRequest: {\n      from: fromPhone,\n      to: toPhone,\n      type: 'text',\n      text: {\n        body: result.replyText\n      }\n    }\n  }\n};"
      },
      "id": "cf7bc68a-ab89-4456-b5d4-3a291f040981",
      "name": "Build YCloud Payment Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.YCLOUD_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.ycloudRequest }}",
        "options": {}
      },
      "id": "ef855e5a-af03-4401-8695-1b8fd0ee5d98",
      "name": "Send Payment Confirmed WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        -120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { ok: true, skipped: true, reason: $json.reason || 'payment not matched', result: $json } };"
      },
      "id": "f1169d8e-cd76-4e11-8fe2-6bd58452be56",
      "name": "Keep Manual Review Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({\n  from: $json.from,\n  subject: $json.subject,\n  snippet: $json.snippet,\n  body: String($json.body || '').slice(0, 12000),\n  email_ts: $json.email_ts,\n  id: $json.id\n}) }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "Eres un lector de correos del Banco Mercantil Santa Cruz para Nachito Store.\nDevuelve SOLO JSON valido, sin markdown, sin comentarios y sin texto extra.\nTu tarea es extraer datos del correo, no confirmar pagos por tu cuenta.\n\nReglas:\n- Marca isMercantilCreditQr true solo si el correo indica un CREDITO / transferencia QR recibida.\n- Si el correo es debito, salida, rechazo, publicidad o no es pago recibido, safeToUse debe ser false.\n- Extrae el monto en bolivianos como numero decimal.\n- Extrae payerName si aparece el nombre del ordenante/remitente.\n- Extrae concept si aparece el concepto/referencia.\n- Extrae notificationNumber si aparece NTR, numero de notificacion o identificador bancario.\n- Extrae transactionAtText si aparece fecha/hora de la transaccion.\n- Si hay duda, confidence bajo y safeToUse false.\n\nFormato obligatorio:\n{\"isMercantilCreditQr\":false,\"amount\":null,\"payerName\":null,\"concept\":null,\"notificationNumber\":null,\"transactionAtText\":null,\"confidence\":0,\"safeToUse\":false,\"reason\":\"\"}",
          "maxIterations": 3,
          "returnIntermediateSteps": false,
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -420,
        -220
      ],
      "id": "74a0f4a0-1090-4d76-a681-1e3bf0f6f201",
      "name": "AI Gmail Payment Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "google/gemma-4-31b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -420,
        -40
      ],
      "id": "bd6c15d2-ccf1-4c3e-9cc6-d6fb8a7901ff",
      "name": "OpenRouter Gmail Model",
      "credentials": {
        "openRouterApi": {
          "id": "fZBAqAMRSFTMx6Rc",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const email = $('Normalize Mercantil Email').first().json;\nconst agent = $input.first().json || {};\nconst raw = String(agent.output || agent.text || agent.response || agent.message?.content || '').trim();\nlet parsed = null;\nconst jsonStart = raw.indexOf('{');\nconst jsonEnd = raw.lastIndexOf('}');\nconst jsonText = jsonStart >= 0 && jsonEnd > jsonStart ? raw.slice(jsonStart, jsonEnd + 1) : raw;\ntry {\n  parsed = JSON.parse(jsonText);\n} catch (error) {\n  parsed = null;\n}\n\nfunction parseAmount(value) {\n  if (typeof value === 'number') return value;\n  if (typeof value !== 'string') return null;\n  const match = value.match(/[\\d.,]+/);\n  if (!match) return null;\n  const normalized = match[0].replace(/\\./g, '').replace(',', '.');\n  const amount = Number(normalized);\n  return Number.isFinite(amount) ? amount : null;\n}\n\nconst confidence = Number(parsed?.confidence || 0);\nconst aiEmailEvidence = {\n  isMercantilCreditQr: parsed?.isMercantilCreditQr === true,\n  amount: parseAmount(parsed?.amount),\n  payerName: parsed?.payerName ? String(parsed.payerName).slice(0, 160) : null,\n  concept: parsed?.concept ? String(parsed.concept).slice(0, 160) : null,\n  notificationNumber: parsed?.notificationNumber ? String(parsed.notificationNumber).slice(0, 80) : null,\n  transactionAtText: parsed?.transactionAtText ? String(parsed.transactionAtText).slice(0, 120) : null,\n  confidence: Number.isFinite(confidence) ? Math.max(0, Math.min(1, confidence)) : 0,\n  safeToUse: parsed?.safeToUse !== false,\n  reason: String(parsed?.reason || raw || '').slice(0, 240)\n};\n\nreturn [{ json: { ...email, aiEmailEvidence } }];"
      },
      "id": "80fe83a1-f410-4d67-bc05-19162fa191bf",
      "name": "Attach AI Email Evidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -220
      ]
    }
  ],
  "connections": {
    "Gmail Mercantil Trigger": {
      "main": [
        [
          {
            "node": "Normalize Mercantil Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Mercantil Email": {
      "main": [
        [
          {
            "node": "AI Gmail Payment Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Payment in PoleraFlow": {
      "main": [
        [
          {
            "node": "Payment Matched?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Matched?": {
      "main": [
        [
          {
            "node": "Build YCloud Payment Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Keep Manual Review Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build YCloud Payment Confirmation": {
      "main": [
        [
          {
            "node": "Send Payment Confirmed WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Gmail Payment Agent": {
      "main": [
        [
          {
            "node": "Attach AI Email Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach AI Email Evidence": {
      "main": [
        [
          {
            "node": "Verify Payment in PoleraFlow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Gmail Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Gmail Payment Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "versionId": "c3fbc57b-3ee9-4d67-99df-6c090db0e620",
  "triggerCount": 0,
  "tags": []
}
