workflows/n8n-waflow-bot-starter.json
{
  "id": "poleraflow-waflow-bot-starter",
  "name": "PoleraFlow Waflow Conversation Bot",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "poleraflow-waflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e26a6353-1441-4f41-b413-7d1554db8f01",
      "name": "waflow-webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.POLERAFLOW_BOT_URL || 'https://admin-dhasboard.vercel.app/api/webhooks/n8n/waflow-bot' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-poleraflow-webhook-secret",
              "value": "={{ $env.POLERAFLOW_WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body || $json }}",
        "options": {}
      },
      "id": "3c3f6882-5eb4-4324-b142-9c04a982366a",
      "name": "Run Bot in PoleraFlow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wa.waflow.ai/agency/locations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.WAFLOW_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6a871f02-a070-4db1-92e5-76237c352ac3",
      "name": "Get Waflow Locations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const bot = $('Run Bot in PoleraFlow').first().json;\nconst locations = $input.all().map((item) => item.json);\nconst location = locations.find((entry) => entry.location_id === bot.waflowLocationId) || locations[0];\nconst settings = location?.settings || {};\nconst chatwootBaseUrl = String(settings.chatwoot_url || 'https://chatwoot.waflow.ai').replace(/\\/$/, '');\nconst chatwootAccountId = settings.chatwoot_account_id;\nconst chatwootToken = settings.chatwoot_api_token;\nconst chatwootContactId = String(bot.waflowContactId || '').trim();\nconst replyMessages = Array.isArray(bot.replyMessages)\n  ? bot.replyMessages.map((message) => String(message || '').trim()).filter(Boolean)\n  : String(bot.replyText || '').split(/\\n{2,}/).map((message) => message.trim()).filter(Boolean);\n\nif (!replyMessages.length) {\n  return [{ json: { ...bot, replyMessages: [], chatwootReplySent: false, chatwootSkipReason: 'empty replyMessages' } }];\n}\n\nif (!chatwootAccountId || !chatwootToken || !chatwootContactId) {\n  throw new Error('Faltan datos de Chatwoot/WaFloW para enviar la respuesta.');\n}\n\nreturn [{\n  json: {\n    ...bot,\n    replyMessages,\n    chatwootReplySent: false,\n    chatwootBaseUrl,\n    chatwootAccountId,\n    chatwootToken,\n    chatwootContactId\n  }\n}];"
      },
      "id": "da6a52cb-925e-49c9-b2b8-42b75a13e900",
      "name": "Prepare Chatwoot Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.chatwootBaseUrl + '/api/v1/accounts/' + $json.chatwootAccountId + '/contacts/' + $json.chatwootContactId + '/conversations' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwootToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec257b78-c31c-4d05-99cc-535ff33b8bfb",
      "name": "Get Chatwoot Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const reply = $('Prepare Chatwoot Reply').first().json;\nconst first = $input.first().json;\nconst conversations = Array.isArray(first?.payload) ? first.payload : $input.all().map((item) => item.json);\nconst conversation = conversations[0];\n\nif (!conversation?.id) {\n  throw new Error('No encontre conversacion de Chatwoot para este contacto.');\n}\n\nreturn reply.replyMessages.map((messageText, index) => ({\n  json: {\n    ...reply,\n    messageText,\n    messageIndex: index + 1,\n    chatwootConversationId: conversation.id\n  }\n}));"
      },
      "id": "5ca5daa6-3957-4544-89a9-cd2e544fe97c",
      "name": "Pick Chatwoot Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.chatwootBaseUrl + '/api/v1/accounts/' + $json.chatwootAccountId + '/conversations/' + $json.chatwootConversationId + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "={{ $json.chatwootToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { content: $json.messageText, message_type: 'outgoing', private: false, content_type: 'text' } }}",
        "options": {}
      },
      "id": "4438b42b-9769-4c8e-a66c-c5482b8a8c19",
      "name": "Send Chatwoot Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const reply = $('Prepare Chatwoot Reply').first().json;\nconst sentItems = $input.all().map((item) => item.json);\nconst picked = $('Pick Chatwoot Conversation').all().map((item) => item.json);\nconst { chatwootToken, chatwootBaseUrl, chatwootAccountId, chatwootContactId, ...safeReply } = reply;\n\nreturn [{\n  json: {\n    ...safeReply,\n    chatwootReplySent: sentItems.length > 0,\n    chatwootConversationId: picked[0]?.chatwootConversationId || null,\n    chatwootMessageIds: sentItems.map((sent) => sent?.id || sent?.payload?.id).filter(Boolean)\n  }\n}];"
      },
      "id": "e57550a3-003e-48f9-bce5-178cb2b41bb9",
      "name": "Finalize Waflow Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: $json.ok, replyText: '', replyMessages: [], stage: $json.stage, conversationId: $json.conversationId, order: $json.order, paymentChoice: $json.paymentChoice, paymentAmount: $json.paymentAmount, needsHuman: $json.needsHuman, chatwootReplySent: $json.chatwootReplySent, chatwootConversationId: $json.chatwootConversationId, chatwootMessageIds: $json.chatwootMessageIds } }}",
        "options": {}
      },
      "id": "dc64b5bf-27ac-41d1-bbce-ec7718796c2c",
      "name": "Respond to Waflow",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1620,
        0
      ]
    }
  ],
  "connections": {
    "waflow-webhook": {
      "main": [
        [
          {
            "node": "Run Bot in PoleraFlow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Bot in PoleraFlow": {
      "main": [
        [
          {
            "node": "Get Waflow Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Waflow Locations": {
      "main": [
        [
          {
            "node": "Prepare Chatwoot Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chatwoot Reply": {
      "main": [
        [
          {
            "node": "Get Chatwoot Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chatwoot Conversations": {
      "main": [
        [
          {
            "node": "Pick Chatwoot Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Chatwoot Conversation": {
      "main": [
        [
          {
            "node": "Send Chatwoot Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chatwoot Message": {
      "main": [
        [
          {
            "node": "Finalize Waflow Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Waflow Response": {
      "main": [
        [
          {
            "node": "Respond to Waflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
