workflows/n8n-waflow-bot-starter.json
{
  "id": "poleraflow-waflow-bot-starter",
  "name": "PoleraFlow Waflow Conversation Bot",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "poleraflow-waflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e26a6353-1441-4f41-b413-7d1554db8f01",
      "name": "waflow-webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.POLERAFLOW_BOT_URL || 'https://admin-dhasboard.vercel.app/api/webhooks/n8n/waflow-bot' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-poleraflow-webhook-secret",
              "value": "={{ $env.POLERAFLOW_WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body || $json }}",
        "options": {}
      },
      "id": "3c3f6882-5eb4-4324-b142-9c04a982366a",
      "name": "Run Bot in PoleraFlow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: $json.ok, replyText: $json.replyText, stage: $json.stage, conversationId: $json.conversationId, order: $json.order, paymentChoice: $json.paymentChoice, paymentAmount: $json.paymentAmount, needsHuman: $json.needsHuman } }}",
        "options": {}
      },
      "id": "dc64b5bf-27ac-41d1-bbce-ec7718796c2c",
      "name": "Respond to Waflow",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -60,
        0
      ]
    }
  ],
  "connections": {
    "waflow-webhook": {
      "main": [
        [
          {
            "node": "Run Bot in PoleraFlow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Bot in PoleraFlow": {
      "main": [
        [
          {
            "node": "Respond to Waflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
