workflows/n8n-ycloud-bot-starter.json
{
  "id": "poleraflow-ycloud-bot-starter",
  "name": "PoleraFlow YCloud Conversation Bot",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "poleraflow-ycloud",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f581f425-77fb-4893-8bff-ff8f787dc130",
      "name": "ycloud-webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        0
      ],
      "webhookId": "68f0ba6d-9a47-4d94-8779-c9c719b43834"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst event = body.event || body.type || body.eventType || '';\nconst inbound = body.whatsappInboundMessage || body.inboundMessage || body.message || body.data?.message || body.data || body;\nconst contact = body.contact || body.customer || inbound.contact || inbound.customer || {};\nconst profile = inbound.profile || contact.profile || {};\nconst textValue = inbound.text?.body || inbound.text || inbound.body || inbound.content || body.text?.body || body.text || '';\nconst fromValue = inbound.from || body.from || contact.phone || contact.phoneNumber || contact.waId || contact.wa_id || inbound.sender?.phone || '';\nconst nameValue = profile.name || contact.name || contact.fullName || inbound.sender?.name || 'Cliente WhatsApp';\nconst messageType = inbound.type || body.messageType || body.message_type || 'text';\nconst attachments = [];\nconst captions = [];\nfor (const key of ['image', 'document', 'audio', 'video', 'sticker']) {\n  const media = inbound[key] || body[key];\n  if (!media) continue;\n  if (media.caption) captions.push(media.caption);\n  if (media.url || media.link || media.id) {\n    attachments.push({\n      type: key,\n      url: media.url || media.link,\n      link: media.link,\n      id: media.id,\n      mime_type: media.mime_type || media.mimeType,\n      file_name: media.file_name || media.filename || media.name\n    });\n  }\n}\nif (Array.isArray(inbound.attachments)) attachments.push(...inbound.attachments);\nconst proofText = [String(textValue || ''), ...captions].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    provider: 'ycloud',\n    event,\n    phone: String(fromValue).replace(/\\D/g, ''),\n    from: String(fromValue).replace(/\\D/g, ''),\n    customerName: nameValue,\n    name: nameValue,\n    text: String(textValue || ''),\n    messageText: String(textValue || ''),\n    proofText,\n    message: {\n      id: inbound.id || body.id || body.messageId,\n      type: messageType,\n      body: String(textValue || ''),\n      text: String(textValue || ''),\n      from: String(fromValue).replace(/\\D/g, ''),\n      fromMe: Boolean(inbound.fromMe || inbound.from_me || body.fromMe),\n      attachments\n    },\n    contact: {\n      name: nameValue,\n      phone: String(fromValue).replace(/\\D/g, ''),\n      phone_number: String(fromValue).replace(/\\D/g, '')\n    },\n    ycloud: body\n  }\n}];"
      },
      "id": "c8b5be88-328e-494e-85bb-fb50d3bfb6c3",
      "name": "Normalize YCloud Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.POLERAFLOW_BOT_URL || 'https://admin-dhasboard.vercel.app/api/webhooks/n8n/waflow-bot' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-poleraflow-webhook-secret",
              "value": "={{ $env.POLERAFLOW_WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "dd5321e8-b579-4b1b-b524-a567cb251f91",
      "name": "Run Bot in PoleraFlow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const bot = $input.first().json;\nconst normalized = $('Normalize YCloud Event').first().json;\nconst rawPhone = String(bot.replyTargetPhone || bot.phone || '').replace(/\\D/g, '');\nconst inboundTo = String(normalized.ycloud?.whatsappInboundMessage?.to || normalized.ycloud?.to || '').trim();\nconst fromPhone = String($env.YCLOUD_WHATSAPP_FROM || inboundTo || '+59178096231').trim();\nconst toPhone = rawPhone ? (rawPhone.startsWith('+') ? rawPhone : `+${rawPhone}`) : '';\nconst textMessages = Array.isArray(bot.replyMessages)\n  ? bot.replyMessages.map((message) => String(message || '').trim()).filter(Boolean)\n  : String(bot.replyText || '').split(/\\n{2,}/).map((message) => message.trim()).filter(Boolean);\nconst qrUrl = bot.payment_flow?.qrUrl || bot.paymentFlow?.qrUrl || bot.paymentQrUrl || '';\n\nif (!fromPhone || !toPhone || (!textMessages.length && !qrUrl)) {\n  return [{ json: { bot, shouldSend: false, reason: !fromPhone ? 'missing from' : !toPhone ? 'missing phone' : 'empty reply' } }];\n}\n\nconst outbound = textMessages.map((message) => ({\n  type: 'text',\n  ycloudRequest: {\n    from: fromPhone,\n    to: toPhone,\n    type: 'text',\n    text: { body: message }\n  }\n}));\n\nif (qrUrl) {\n  outbound.push({\n    type: 'image',\n    ycloudRequest: {\n      from: fromPhone,\n      to: toPhone,\n      type: 'image',\n      image: {\n        link: qrUrl,\n        caption: 'QR de pago Nachito Store'\n      }\n    }\n  });\n}\n\nreturn outbound.map((message, index) => ({\n  json: {\n    bot,\n    shouldSend: true,\n    index,\n    outboundType: message.type,\n    ycloudRequest: message.ycloudRequest\n  }\n}));"
      },
      "id": "f0504961-615b-4ce8-a7da-6ca16299b729",
      "name": "Build YCloud Replies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldSend === true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a333ed47-0cbb-4dbd-a050-b72c82f26a17",
      "name": "Should Send Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages/sendDirectly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.YCLOUD_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.ycloudRequest }}",
        "options": {}
      },
      "id": "e8b5ee2d-4b42-4628-b23a-d2712574fc30",
      "name": "Send YCloud Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, provider: 'ycloud', sent: true, item: $json } }}",
        "options": {}
      },
      "id": "ff2f3f5a-a660-4362-a697-b6d431517f3b",
      "name": "Respond After Send",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1080,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, provider: 'ycloud', sent: false, reason: $json.reason || 'no reply' } }}",
        "options": {}
      },
      "id": "d3688ff2-b39a-4b95-a056-a4ad0407ac1f",
      "name": "Respond Without Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        820,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.POLERAFLOW_PROOF_AI_URL || 'https://admin-dhasboard.vercel.app/api/webhooks/n8n/payment-proof-ai' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-poleraflow-webhook-secret",
              "value": "={{ $env.POLERAFLOW_WEBHOOK_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "a3d5e36f-41ed-4b43-aea8-d30ed524eb1a",
      "name": "Extract Payment Proof with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const enriched = $('Attach AI Intent').first().json;\nconst ai = $input.first().json || {};\nconst proofEvidence = ai.proofEvidence || {};\nconst proofText = ai.proofText || enriched.proofText || '';\nreturn [{\n  json: {\n    ...enriched,\n    proofText,\n    ocrText: proofText,\n    proofEvidence,\n    proofAi: {\n      available: Boolean(ai.aiAvailable),\n      reason: ai.aiReason || ai.reason || null\n    }\n  }\n}];"
      },
      "id": "e4d7b315-45db-4473-bcc5-5ea3f6d3c042",
      "name": "Attach AI Proof Evidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({\n  cliente: $json.customerName || $json.name || 'Cliente WhatsApp',\n  telefono: $json.phone || $json.from || '',\n  mensaje: $json.messageText || $json.text || '',\n  tipo: $json.message?.type || 'text',\n  tieneAdjunto: Array.isArray($json.message?.attachments) && $json.message.attachments.length > 0,\n  adjuntos: $json.message?.attachments || [],\n  evento: $json.event || ''\n}) }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "Eres el clasificador de intenciones para el bot de ventas de Nachito Store por WhatsApp.\nDevuelve SOLO JSON valido, sin markdown, sin explicaciones y sin texto extra.\nNo inventes precios, productos ni pagos. No confirmes pagos. No modifiques stock.\nTu trabajo es entender lo que el cliente quiso decir aunque escriba con errores.\n\nIntenciones permitidas:\n- greeting: saludo o pregunta general sin pedido\n- unknown: no se entiende\n- confirm: confirma que el pedido esta bien o que quiere avanzar\n- cancel: quiere cancelar, dejar, anular o ya no quiere el pedido\n- fresh_order: quiere hacer otro pedido, pedido nuevo, empezar de nuevo o se equivoco\n- change: quiere cambiar color, talla, prenda o corregir el pedido\n- human: pide persona, vendedor o atencion humana\n- half_payment: quiere pagar 50%, mitad o adelanto\n- full_payment: quiere pagar completo, todo o total\n- payment_proof: solo si hay archivo adjunto o comprobante adjunto\n- faq: pregunta sobre tiempos, envio, tallas, precios o stock\n\nReglas de seguridad:\n- Usa payment_proof solo si tieneAdjunto es true.\n- Si hay duda, usa unknown con confidence bajo.\n- Para cancelar/cambiar/nuevo pedido, acepta frases naturales como: cancelar, cancelalo, me equivoque, pedido nuevo, otro pedido, quiero rehacerlo.\n- Para confirmar, acepta: si, si esta bien, correcto, perfecto, dale, ok, listo.\n- Para pago 50%, acepta: mitad, 50, adelanto, medio pago.\n- Para pago completo, acepta: completo, todo, total, pago completo.\n\nFormato obligatorio:\n{\"intent\":\"unknown\",\"confidence\":0.0,\"safeToUse\":false,\"reason\":\"\",\"paymentChoice\":null,\"deliveryZone\":null,\"department\":null,\"normalizedText\":\"\"}",
          "maxIterations": 3,
          "returnIntermediateSteps": false,
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -400,
        -260
      ],
      "id": "98f11529-ca9b-4227-b41f-93a3d4d7c403",
      "name": "AI Intent Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "google/gemma-4-31b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -400,
        -80
      ],
      "id": "6aac568e-4a55-41ca-9d2c-b92dbdc7ab7f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fZBAqAMRSFTMx6Rc",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const normalized = $('Normalize YCloud Event').first().json;\nconst agent = $input.first().json || {};\nconst raw = String(agent.output || agent.text || agent.response || agent.message?.content || '').trim();\nlet parsed = null;\nconst jsonStart = raw.indexOf('{');\nconst jsonEnd = raw.lastIndexOf('}');\nconst jsonText = jsonStart >= 0 && jsonEnd > jsonStart ? raw.slice(jsonStart, jsonEnd + 1) : raw;\ntry {\n  parsed = JSON.parse(jsonText);\n} catch (error) {\n  parsed = null;\n}\nconst allowed = new Set(['greeting','unknown','confirm','cancel','change','fresh_order','human','half_payment','full_payment','payment_proof','faq']);\nconst confidence = Number(parsed?.confidence || 0);\nconst hasAttachment = Array.isArray(normalized.message?.attachments) && normalized.message.attachments.length > 0;\nconst intent = allowed.has(parsed?.intent) ? parsed.intent : 'unknown';\nconst safeIntent = intent === 'payment_proof' && !hasAttachment ? 'unknown' : intent;\nconst aiIntent = {\n  intent: safeIntent,\n  confidence: Number.isFinite(confidence) ? Math.max(0, Math.min(1, confidence)) : 0,\n  safeToUse: parsed?.safeToUse !== false,\n  reason: String(parsed?.reason || raw || '').slice(0, 500),\n  paymentChoice: parsed?.paymentChoice === '50%' || parsed?.paymentChoice === 'completo' ? parsed.paymentChoice : null,\n  deliveryZone: parsed?.deliveryZone === 'santa_cruz' || parsed?.deliveryZone === 'otro_departamento' ? parsed.deliveryZone : null,\n  department: parsed?.department ? String(parsed.department).slice(0, 80) : null,\n  normalizedText: parsed?.normalizedText ? String(parsed.normalizedText).slice(0, 500) : ''\n};\nreturn [{ json: { ...normalized, aiIntent } }];"
      },
      "id": "c38f2448-5f2f-4ee4-bfda-7b7fd69fda3c",
      "name": "Attach AI Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -260
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({\n  cliente: $json.customerName || $json.name || $json.replyTargetName || 'Cliente WhatsApp',\n  telefono: $json.replyTargetPhone || $json.phone || '',\n  mensajeCliente: $('Normalize YCloud Event').first().json.messageText || $('Normalize YCloud Event').first().json.text || '',\n  respuestaSegura: $json.replyText || '',\n  mensajesSeguros: $json.replyMessages || [],\n  etapa: $json.stage || $json.state?.stage || '',\n  necesitaHumano: $json.needsHuman === true,\n  tieneQr: Boolean($json.payment_flow?.qrUrl || $json.paymentFlow?.qrUrl || $json.paymentQrUrl),\n  montoPago: $json.payment_flow?.amount || $json.paymentFlow?.amount || $json.paymentAmount || null,\n  pedido: $json.order || $json.state?.order || null,\n  aiIntent: $('Attach AI Intent').first().json.aiIntent || null\n}) }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "Eres el asistente humano de ventas de Nachito Store en WhatsApp.\nReescribes la respuesta segura del sistema para que suene natural, breve y amable.\nDevuelve SOLO JSON valido, sin markdown fuera del JSON.\n\nInformacion del negocio:\n- Nachito Store vende poleras oversize 200 g, algodon premium, cuello reforzado 3 cm y estampado DTF.\n- Colores: blanco arena y negro. Tallas: M, L, XL.\n- Catalogo desde Bs 125 a Bs 180. Personalizadas desde Bs 155.\n- Produccion: 2 a 4 dias habiles.\n- Santa Cruz: Yango o recoger. Costo de envio adicional.\n- Otros departamentos: flota jueves y viernes. Costo adicional.\n- Web: https://nachitostore.vercel.app\n\nReglas duras:\n- No cambies montos, tallas, productos, estados ni links que ya vienen en respuestaSegura/pedido.\n- No confirmes pago, no digas que pag?, no digas que entra a produccion salvo que respuestaSegura ya lo diga.\n- No inventes stock ni fechas exactas.\n- Si el cliente no entiende o dice que no tiene pedido, explica con calma que puede haber quedado un pedido abierto y ofrece opciones.\n- Si esta esperando comprobante, no repitas como robot: explica que falta comprobante o que puede cancelar/cambiar si fue error.\n- Si pregunta algo del negocio, responde con la informacion del negocio y luego guia al siguiente paso.\n- Mant?n mensajes cortos, como WhatsApp real. Maximo 2 mensajes salvo que sea resumen de pedido.\n- Usa el nombre del cliente si est? disponible.\n- No uses textos largos ni tono de call center.\n\nFormato obligatorio:\n{\"safeToUse\":true,\"replyMessages\":[\"mensaje 1\",\"mensaje 2 opcional\"],\"reason\":\"\"}",
          "maxIterations": 3,
          "returnIntermediateSteps": false,
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -260
      ],
      "id": "2b2065f6-8d71-44b2-925f-1e707cf4ae52",
      "name": "AI Human Reply Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "google/gemma-4-31b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        -80
      ],
      "id": "1022ca31-7109-4c2a-a88f-cb31077ead8a",
      "name": "OpenRouter Human Reply Model",
      "credentials": {
        "openRouterApi": {
          "id": "fZBAqAMRSFTMx6Rc",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const bot = $('Run Bot in PoleraFlow').first().json;\nconst agent = $input.first().json || {};\nconst raw = String(agent.output || agent.text || agent.response || agent.message?.content || '').trim();\nconst originalMessages = Array.isArray(bot.replyMessages)\n  ? bot.replyMessages.map((message) => String(message || '').trim()).filter(Boolean)\n  : String(bot.replyText || '').split(/\\n{2,}/).map((message) => message.trim()).filter(Boolean);\n\nlet parsed = null;\nconst jsonStart = raw.indexOf('{');\nconst jsonEnd = raw.lastIndexOf('}');\nconst jsonText = jsonStart >= 0 && jsonEnd > jsonStart ? raw.slice(jsonStart, jsonEnd + 1) : raw;\ntry {\n  parsed = JSON.parse(jsonText);\n} catch (error) {\n  parsed = null;\n}\n\nfunction cleanMessage(value) {\n  return String(value || '')\n    .replace(/\\r/g, '')\n    .replace(/\\n{4,}/g, '\\n\\n')\n    .trim()\n    .slice(0, 900);\n}\n\nconst hasQr = Boolean(bot.payment_flow?.qrUrl || bot.paymentFlow?.qrUrl || bot.paymentQrUrl);\nconst proposed = Array.isArray(parsed?.replyMessages)\n  ? parsed.replyMessages.map(cleanMessage).filter(Boolean).slice(0, 3)\n  : [];\nconst originalText = originalMessages.join('\\n\\n');\nconst proposedText = proposed.join('\\n\\n');\n\nconst originalAmounts = [...originalText.matchAll(/\\b\\d+(?:[.,]\\d+)?\\s*Bs\\b/gi)].map((match) => match[0]);\nconst preservesAmounts = originalAmounts.every((amount) => proposedText.includes(amount));\nconst safe = parsed?.safeToUse !== false && proposed.length > 0 && proposedText.length <= 1800 && (!originalAmounts.length || preservesAmounts);\n\nif (!bot.replyText || !originalMessages.length || !safe) {\n  return [{ json: { ...bot, aiHumanReply: { used: false, reason: parsed?.reason || raw || 'fallback_original' } } }];\n}\n\nreturn [{\n  json: {\n    ...bot,\n    replyText: proposedText,\n    replyMessages: proposed,\n    aiHumanReply: {\n      used: true,\n      reason: parsed?.reason || 'humanized',\n      hasQr\n    }\n  }\n}];"
      },
      "id": "1eb86fb7-8f38-472c-a5c2-42360ee58cb6",
      "name": "Attach AI Human Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -260
      ]
    }
  ],
  "connections": {
    "ycloud-webhook": {
      "main": [
        [
          {
            "node": "Normalize YCloud Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize YCloud Event": {
      "main": [
        [
          {
            "node": "AI Intent Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Bot in PoleraFlow": {
      "main": [
        [
          {
            "node": "AI Human Reply Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build YCloud Replies": {
      "main": [
        [
          {
            "node": "Should Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Reply": {
      "main": [
        [
          {
            "node": "Send YCloud Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Without Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send YCloud Reply": {
      "main": [
        [
          {
            "node": "Respond After Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payment Proof with AI": {
      "main": [
        [
          {
            "node": "Attach AI Proof Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach AI Proof Evidence": {
      "main": [
        [
          {
            "node": "Run Bot in PoleraFlow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Intent Agent": {
      "main": [
        [
          {
            "node": "Attach AI Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach AI Intent": {
      "main": [
        [
          {
            "node": "Extract Payment Proof with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Intent Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Human Reply Agent": {
      "main": [
        [
          {
            "node": "Attach AI Human Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach AI Human Reply": {
      "main": [
        [
          {
            "node": "Build YCloud Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Human Reply Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Human Reply Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "57b1a1b9-d267-493d-abd5-b44267e1887c",
  "triggerCount": 1,
  "tags": []
}